.newSeans, body {
    background-color:#b5838d;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0px;
    margin-top: 0px;
}

.header {
    padding: 30px;
    text-align: center;
    background: #90657a;
    color: #FFCDB2;
    font-size: 40px;
}

form {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffcdb2;
    font-weight:bold;
    font-size: 30px;
}

input[type=text] {
    padding: 9px;
    font-size: 16px;
    width: 150px;
    margin-bottom: 10px;
}

.button-link {
    display: inline-block; 
    padding: 10px 20px; 
    background-color:#E5989B ; 
    color: #FFCDB2; 
    text-decoration: none; 
    border: 10px;
    border-radius: 15px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    margin-right: 350px;
    margin-left: 200px;
    font-weight:bold;
    font-size: 40px;
    position:relative;
    top: 60px; 
    right: 190px;
}

.button-link:hover { 
    background-color: #e0aaac; 
} 

.button{
    display: inline-block; 
    padding: 10px 20px; 
    background-color:#E5989B ; 
    color: #FFCDB2; 
    text-decoration: none; 
    border: 10px;
    border-radius: 15px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    margin-right: 350px;
    margin-left: 200px;
    font-weight:bold;
    font-size: 40px;
    position:relative;
    top: 40px; 
    right: 190px;
}

.button:hover { 
    background-color: #e0aaac; 
} 

select {
    padding: 9px;
    font-size: 16px;
    width: 200px;
    margin-bottom: 30px;
}