<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/manage.css') }}">
    <title>Pārskats</title>
</head>
<body class="manage">
    <h1 class="header">Pārskats</h1>
    <p>
      <a href="/new_film" class="button-link">Jauna Filma</a>
      <a href="/new_seans" class="button-link">Jauns seanss</a>
    </p>
    <p>
      <a href="/all_films" class="button-link">Filmu saraksts</a>
      <a href="/all_reserv" class="button-link">Rezervāciju saraksts</a>
      <a href="/all_seansi_authorized" class="button-link">Seansu saraksts</a>
    </p>
    <p>
      <a href="/" class="button-link">Iziet</a>
    </p>
    
</body>
</html>